<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RECARGAS'})">Recarga Diaria</a></li>
			<li class="tab"><a href="#" class="active">Últimos canjes</a></li>
		</ul>

		<p>Felicitamos todos nuestros usuarios que han conseguido el crédito y canjeado por recargas. Para que todos les conozcan, listamos los últimos veinte a continuación.</p>

		<table class="table striped centered">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
				<% recharges.forEach(function(recharge) { %> 
				<tr>
					<td><a href="#!" onclick="apretaste.send({'command':'PERFIL','data':{'username':'<%= recharge.username %>'}})">@<%= recharge.username %></a></td>
					<td><%= recharge.inserted %></td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>