<div class="row">
	<div class="col s12">
		<h1>Últimas recargas</h1>
		<p>Felicitamos todos nuestros usuarios que han conseguido el crédito y canjeado por recargas.
		   Para que todos les conozcan, listamos los últimos veinte a continuación.</p>

		<table class="striped">
			<thead>
				<tr>
					<th>Usuario</th>
					<th>Fecha</th>
				</tr>
			</thead>
			<tbody>
                <% for (var i = 0; i< recharges.length; i++) { %>
                    <tr>
					<td><a href="#!" onclick="apretaste.send({'command':'PERFIL','data':{'username':'<%= recharges[i].username %>'}})">@<%= recharges[i].username %></a></td>
					<td><%= formatDateTime(recharges[i].inserted) %></td>
				</tr>
                <% } %>
            </tbody>
		</table>
	</div>
</div>

<!-- GO BACK -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'RECARGAS'})"><i class="material-icons">arrow_back</i></a>
</div>