<h1>&Uacute;ltimas recargas</h1>

<table class = "table-responsive">
    <tr>
        <th width = "50%">Comprador</th>
        <th width = "50%">Fecha</th>
    </tr>
    <% compradores.forEach(function(comprador){ %>
    <tr>
        <td><a href = "#!" onclick = "apretaste.send('PERFIL @<% comprador.user %>');">@
                <% comprador.user %>
            </a></td>
        <td>
            <% comprador.fecha %>
        </td>
    </tr>
    <% }); %>
</table><br/>
<div class = "row">
    <div class = "col col-s6">
        <button class = "btn btn-deafult" onclick = "apretaste.send({command: 'RECARGAS MIAS'});">Mis recargas</button>
    </div>
    <div class = "col col-s6">
        <button class = "btn btn-deafult" onclick = "apretaste.send({command: 'RECARGAS'});">Atr&aacute;s</button>
    </div>
</div>