<% include logo.ejs %>

<p><b>Su recarga está siendo procesada.</b></p>
<p>Este proceso puede demorar hasta 72h.</p>
<p>Gracias por usar Apretaste!</p>

<button class = "btn btn-default" onclick = "apretaste.send({command: 'RECARGAS'});">Atr&aacute;</button>
