<div class = "row">
    <div class = "col col-12">
        <img src = "{{APP_IMAGE_PATH}}<% images.logo %>" alt = "Logo RECARGAS" width = "20%"/>
    </div>
</div>

<p><b>Su recarga está siendo procesada.</b></p>
<p>Este proceso puede demorar hasta 72h.</p>
<p>Gracias por usar Apretaste!</p>

<button class = "btn btn-default" onclick = "apretaste.send({command: 'RECARGAS'});">Atr&aacute;</button>
