<% include logo.ejs %>

<p>Cada dia habrá disponible una recarga para la compra.</p>
<p>Gracias al esfuerzo y compromiso en hacer más amena la
   experiencia dentro de nuestra aplicación, traemos esta promocion que
    estamos seguros será del agrado de todos, en asociación con RECARGAS.</p>
<h2>Recarga de 10CUC Promo RECARGAS</h2>

<% include footer1.ejs %>
