<div class = "row">
    <div class = "col col-12">
        <% if (disponible) { %>
        <button class = "btn btn-default" onclick = "apretaste.send({command: 'RECARGAS RECARGAR' });" title = "n:Ingrese sú número de telefono con 53 al inicio, verifique antes de enviar ya que no es posible cambiarlo*" popup = "true" wait = "true" color = "green">
            Comprar
        </button>
        <% } else { %>
        <small><b>La recarga del d&iacute;a se la llevo
                <a href = "#!" onclick = "apretaste.send({command: 'PERFIL @<%= today[0].user %>', data: today[0].user});">@
                    <%= today[0].user %>
                </a></b></small>
        <% } %>
        <button class = "btn btn-gray" onclick = "apretaste.send({command: 'RECARGAS ANTERIORES'});">Anteriores</button>
    </div>
</div>