<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RECARGAS'})">Recargas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RECARGAS ANTERIORES'})">Ganadores</a></li>
			<li class="tab"><a href="#" class="active">Ayuda</a></li>
		</ul>
	</div>

	<div class="col s12">
		<p>Acá te explicamos brevemente cómo funciona el servicio Recargas. Si tienes dudas, por favor <a href="#!" onclick="apretaste.send({command:'AYUDA SOPORTE'})">escríbenos al soporte</a>.</p>

		<ul class="collection number-list">
			<li class="collection-item avatar">
				<i class="number circle">1</i>
				<p class="green-text">¿Cómo functiona el servicio?</p>
				<p>Este servicio ofrece varias recargas al día. La cantidad de recargas aumenta o disminuye dependiendo de nuestras posibilidades. En fechas especiales podemos agregar más recargas para el disfrute de todos.</p>
				<p>Las recargas estarán disponibles en horas aleatorias a lo largo del día. En el primer minuto del día se publican los tiempos de recarga, y de ahí en adelante el primer usuario que intente recargar en dicho horario se la lleva. Por ejemplo: Si la primera recarga del día se ofrece a las "04:35:57 AM", el primer usuario que intente recargar pasado el segundo número 57 adquirirá la recarga.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">2</i>
				<p class="green-text">¿Cómo canjeo una recarga?</p>
				<p>Para poder tratar de canjearlas primero debes completar nuestros tres simples pasos:</p>
				<p><i>1.</i> Coloca un teléfono válido de Cuba para recargar. Tu número es privado y nadie verá.</p>
				<p><i>2.</i> Gana &sect;<%= price %> usando la app, que es el mínimo necesario para canjear una recarga.</p>
				<p><i>3.</i> Sé el primero en canjear a la hora señalada. Si no puedes hoy no te desanimes.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">3</i>
				<p class="green-text">¿Cómo sé que días agregan más recargas?</p>
				<p>Dejaremos saber a nuestros usuarios a través del correo si hay alguna dinámica especial en correos informativos (si has marcado que quieres recibir correos en los ajustes) y a través de las notificaciones de la app.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">4</i>
				<p class="green-text">¿Por qué limitan las recargas diarias?</p>
				<p>Cada recarga tiene un costo, y nuestro límite depende de cuanto podemos pagar en el momento actual. Conforme el proyecto crezca, más recargas y premios habrán. Sabemos que miles de usuarios compiten y es difícil ganar; siempre que podamos agregaremos más recargas diarias para hacer el proceso más divertido.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">5</i>
				<p class="green-text">¿Por qué me piden que calcule una ecuación?</p>
				<p>Algunos usuarios mal intencionados han querido abusar del sistema para ganar más recargas. Esta es una manera de hacerlo más justo y entretenido, y dale más chances a todos de adquirir una recarga.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">6</i>
				<p class="green-text">¿Cuanto crédito necesito y de cuanto es la recarga?</p>
				<p>Esto depende de muchos factores, pero actualmente hacen falta &sect;<%= price %> y ofrecemos recargas de 5 CUC.</p>
			</li>

			<li class="collection-item avatar">
				<i class="number circle">7</i>
				<p class="green-text">¿Puedo ganar una doble recarga si canjeo en tiempo de especial?</p>
				<p>Las recargas con especial Etecsa solo las ofrece a partir de los 20 CUC. Nuestras recargas empiezan por 5 CUC para asegurar que podemos premiar a tantos usuarios como sea posible. Si en un futuro esto cambia, nos encantaría poder ofrecer más.</p>
			</li>
		</ul>
	</div>
</div>
