<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RECARGAS'})">Recargas</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'RECARGAS ANTERIORES'})">Ganadores</a></li>
			<li class="tab"><a href="#" class="active">Ayuda</a></li>
		</ul>
	</div>

	<div class="col s12">
		<p>Acá te explicamos brevemente cómo funciona el servicio Recargas. Si tienes dudas, por favor <a href="#!" onclick="apretaste.send({command:'AYUDA SOPORTE'})">escríbenos al soporte</a>.</p>

		<b>¿Cómo functiona el servicio?</b>
		<p>Este servicio ofrece comunmente una recarga al día, pero la cantidad de recargas diarias aumenta o disminuye dependiendo de nuestras posibilidades. En fechas especiales podemos agregar más recargas para el disfrute de todos.</p>
		<p>Las recargas estarán disponibles en horas aleatorias a lo largo del día. En el primer minuto del día se publican los tiempos de recarga, y de ahí en adelante el primer usuario que intente recargar en dicho horario se la lleva. Por ejemplo: Si la primera recarga del día se ofrece a las "04:35:57 AM", el primer usuario que intente recargar pasado el segundo número 57 adquirirá la recarga.</p>

		<b>¿Cómo canjeo una recarga?</b>
		<p>Para poder tratar de canjearlas primero debes completar nuestros tres simples pasos:</p>
		<p><i>1.</i> Coloca un teléfono válido de Cuba para recargar. Tu número es privado y nadie verá.</p>
		<p><i>2.</i> Gana &sect;<%= price %> usando la app, que es el mínimo necesario para canjear una recarga.</p>
		<p><i>3.</i> Sé el primero en canjear a la hora señalada. Si no puedes hoy no te desanimes.</p>

		<b>¿Cómo sé que días agregan más recargas?</b>
		<p>Dejaremos saber a nuestros usuarios a través del correo (si has marcado que quieres recibir correos en los ajustes) y a través de las notificaciones del app.</p>

		<b>¿Por qué limitan las recargas diarias?</b>
		<p>Cada recarga tiene un costo, y nuestro límite depende de cuanto podemos pagar en el momento actual. Conforme el proyecto crezca, más recargas y premios habrán. Sabemos que miles de usuarios compiten y es difícil ganar; siempre que podamos agregaremos más recargas diarias para hacer el proceso más divertido.</p>

		<b>¿Por qué me piden que calcule una ecuación?</b>
		<p>Algunos usuarios mal intencionados han querido abusar del sistema para ganar más recargas. Esta es una manera de hacerlo más justo y entretenido, y dale más chances a todos de adquirir una recarga.</p>

		<b>¿Cuanto crédito necesito y de cuanto es la recarga?</b>
		<p>Esto depende de muchos factores, pero actualmente hacen falta &sect;<%= price %> y ofrecemos recargas de 10 CUC.</p>

		<b>¿Puedo ganar una doble recarga si canjeo en tiempo de especial?</b>
		<p>Las recargas con especial Etecsa solo las ofrece a partir de los 20 CUC. Nuestras recargas empiezan por 10 CUC para asegurar que podemos premiar a tantos usuarios como sea posible. Si en un futuro esto cambia, nos encantaría poder ofrecer más.</p>
	</div>
</div>