<div class="row">
	<div class="col s12 center">
		<h1>Servicio descontinuado</h1>

		<i class="fas fa-toggle-off fa-6x"></i>

		<p class="flow-text">Lo siento, porque sé que este cambio te perjudica, y quiero darte una explicación. A través de los años las recargas han sido causante de frustraciones e inconformidad entre miles de usuarios, quienes sienten que una minoría con excelente conectividad fácilmente las monopoliza.</p>

		<p class="flow-text">Nuestro primer intento fue agregar un captcha y dividir los montos para ofrecer más recargas, pero mientras nuestra audiencia crece el problema aumenta, y esta es la única carta que nos queda por jugar.</p>

		<p class="flow-text">Dicho esto, no estamos dejándote "embarcado"; el presupuesto que destinábamos a recargas lo usaremos para ofrecer rifas diarias (con igual chance de ganar para todos), y a hacer más publicidad para crecer nuestra comunidad.</p>

		<p class="flow-text">Siempre puedes escribirme al soporte si tienes alguna duda. Por el momento, te invito a visitar la nueva Rifa.</p>

		<a class="waves-effect waves-light btn green" href="#!" onclick="apretaste.send({'command':'RIFA'})">Visitar la Rifa</a>
	</div>
</div>
