<div class = "row">
    <div class = "col col-12">
        <img src = "{{APP_IMAGE_PATH}}<% images.logo %>" alt = "Logo RECARGAS" width = "20%"/>
    </div>
</div>

<div class = "row">
    <div class = "col col-12">
        Gracias a nuestra continua búsqueda por mejorar la experiencia del usuario, nos
        complace presentar este servicio.
    </div>
</div>


<div class = "row">
    <div class = "col col-12">
        Con la ayuda de varios sponsors, les ofrecemos una recarga
        Cubacel al día. El primero que entre podrá disfrutarla por un valor de §40 creditos. Si no
        la obtienes hoy, mañana estará disponible.
    </div>
</div>

<% include footer1.ejs %>