<h2>Lo sentimos</h2>

<div class = "row">
    <div class = "col col-12">
        La recarga del dia fue hecha por
        <a href = "#!" onclick = "apretaste.send({command: 'PERFIL @<%= today[0].user %>'});"> <%= today[0].user %></a>
        a las <%= today[0].hora %>. Ma&ntilde;ana habr&aacute; otra recarga disponible
    </div>
</div>
<div class = "row">
    <div class = "col col-12">
        <button onclick = "apretaste.send({command: 'RECARGAS'});">Atr&aacute;s</button>
    </div>
</div>