<div class="row">
	<div class="col s12">
		<h1>Su celular</h1>
		<p>Ingrese su número de teléfono para hacer las recargas. El número debe iniciar con 53 y tener una longitud total de 10 dígitos.</p>

		<div class="input-field">
			<input id="cell" type="number" maxlength="10" value="<%= phone %>"/>
			<label for="cell">Insertar número</label>
		</div>
	</div>
</div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="sendPhone()"><i class="material-icons">send</i></a>
</div>