<h1><%= title %></h1>
<p><%= body %></p>

<div class = "row">
    <div class = "col col-s6">
        <button class = "btn btn-deafult" onclick = "apretaste.send({command: 'RECARGAS MIAS'});">Mis recargas</button>
    </div>
    <div class = "col col-s6">
        <button class = "btn btn-deafult" onclick = "apretaste.send({command: 'RECARGAS'});">Atr&aacute;s</button>
    </div>
</div>